.card {
  margin: 1em;
  border-radius: 16px;
  background-color: oldlace;
  box-shadow: 0px 2px 6px 0px rgba(245, 243, 243, 0.61);
  cursor: pointer;
  transition: opacity 1s ease;
}

.card img {
  padding: 1em;
  /* Fixing height/width as proportions of the front
  and back images are not exaclty the same */
  height: calc(17.3 * 1.6rem);
  width: calc(10 * 1.6rem);
}

/* Display card back when face-down and front when not */

.card.face-down .card-front,
.card:not(.face-down) .card-back {
  display: none;
}

.card:not(.face-down):hover {
  opacity: unset;
  box-shadow: initial;
}

.card.reversed {
  transform: rotate(180deg);
}