.card {
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0px black;
  transform-origin: 100% 213.5px; /* half of height */

  max-height: 570px;
  max-width: 345px;

}

.card-front {
  padding: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
  /* max-height: 530px;
  max-width: 305px; */
}

.card-back {
}

.hidden-side {
  display: none;
}


/* to be explored for card flipping animation */

.card-back {
  transform: rotateX(180deg);
}
.card-front.hidden-side {
  transform: rotateX(-180deg);
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
  transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
  transform-origin: 100% 213.5px; /* half of height */
}

.vertical.flip-container:hover .flipper {
  transform: rotateX(-180deg);
}