.App {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 10em);
  width: calc(100vw - 10em);
  padding: 5em;
  background-color: black;
  color: antiquewhite;
  box-shadow: inset 0px 0px 100px #44a4e2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.left-sidebar {
  width: fit-content;
}

.draw-card {
  box-shadow: -10px 10px 2px 0px antiquewhite;
  border: solid 0.7px #d3d3d3bd;
  filter: opacity(59%);
  cursor: pointer;
  transition: filter 1s ease;
}

.draw-card:hover {
  filter: unset;
}

.drawn-cards:hover .card {
  opacity: 0.5;
}

.drawn-cards .card:not(.face-down):hover {
  opacity: 1;
  box-shadow: 3px 3px 0px 0px rgba(245, 243, 243, 0.61);
}

.draw-card .card-front:hover:after {
  content: 'Draw';
  text-shadow: 4px 4px 20px #44a4e2;
  position: absolute;
  margin-top: 1rem;
  left: 3.6em;
  display: flex;
  font-size: 3em;
  color: white;
}

.drawn-cards {
  display: flex;
  margin-right: auto;
  flex-wrap: wrap;
  max-height: fit-content;
}

.right-sidebar {
  min-width: 20rem;
  max-width: 20rem;
}

.diviner-introduction {
  animation: slide-over 1s ease;
}

.card-detail {
  animation: slide-over 1s ease;
}

@keyframes slide-over {
  0% {
      opacity: 0;
      transform: translateX(20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}